{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block headerBOX %}

<div class="row">
  <div id="jawdropTitle" class="col-xs-6 col-sm-7 ">
    <h1>JawDrop</h1>
    <h4><i>360 Videography</i></h4>
  </div>
  <div id="jawdropList" class="col-xs-6 col-sm-5">
    <ul style="list-style: none;">
      <li>
        <h5 id="link2Contact" style="cursor:pointer;"><a>Schedule Appointment</a></h5>
      </li>
      <li>
        <h5><a href="mailto:jawdrop360@gmail.com?Subject=Hello%20JawDrop" target="_top">jawdrop360@gmail.com</a></h5>
      </li>
      <li>
        <h5>Call<a href="tel:5408425123"> (540) 842-5123</h5>
      </li>
      <li>
        <h5 id="link2wedding"><a>Wedding Info</a></h5>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  
</div>

{% endblock %}

{% block thik_Houses %}
<div id="thin_Houses">

<h1>Real Estate Videography</h1>

<div class="row">
  <div class="col-xs-4">
    <h5 id="link2homeDemo">Demo</h5>
  </div>
  <div class="col-xs-4">
    <h5 id="link2homeProcess">Process</h5>
  </div>
  <div class="col-xs-4">
    <h5 id="link2homeContact">Contact</h5>
  </div>
</div>

<hr style="border-color:#84b2df">

<p>Real Estate Videography with JawDrop360 is aimed to supply realtors with more resources for potential buyers.  Scheduling house viewing appointments can be a hassle, but the luxery of Virtual Reality allows for future home owners to view the house without even getting in the car.  We're aware Virtual Reality packages within real estate can get expensive, but JawDrop360 ensures the cheapest options while maintaining the highest quality.</p>

<br>

<iframe id="homeDemo" width="100%" height="415" src="https://www.youtube.com/embed/wrw_fHBAAI4" frameborder="0" allowfullscreen></iframe>

<h3 id="homeProcess">Our Process</h3>
<p>Once a scheduled date and rate have been determined, all gear will be charged and ready for up to 4 hours of footage.  The VR camera is made up of 8 lenses that all shoot 3D with 4K resolution. In addition, a MOZA Guru Gimbal is used for 100% camera stabilization. This prevents viewers from feeling nausia while enjoying their immersive house touring experience.</p>
<p>Upon arrival, we will prep the house for shooting. This includes making sure the lights are all on, opening all doors, and making the house as spacious as possible. While filming, the realtor can choose to be in the shot giving a guided tour through the house, or sit out so that the video resembles the demo above.  Once the videography of the home is complete, the footage will be stitched, edited, rendered, and placed on YouTube. The video on YouTube will NOT be public, it will be associated with a sharable link so that only those with the link can view the video. The link will be sent to the realtor so that it can be easily embeded into their website.</p>


<div class='row'>
<div class='col-lg-8 col-sm-10 col-xs-12'>
<h1 id="homeContact">{{ title }}</h1>

{% if confirm_message %}
<p>{{ confirm_message }}</p>
{% endif %}

{% if form %}
<form method='POST' action=''> {% csrf_token %}
{{ form|crispy }}
<br>
<input type="submit" value="submit form" class="btn btn-default"/>
</form>
{% endif %}
</div>
</div>
<br>

</div>

{% endblock %}



{% block thik_Weddings %}

<div id="thin_Weddings">

<h1>Wedding Videography</h1>
<br>

<h3>Coming Soon!</h3>
<br>

</div>
{% endblock %}