{% extends 'base.html' %}

{% block leaflet_requirements %}
	{% load leaflet_tags %}
	{% load staticfiles %}
{% endblock %}

{% block leafletstyles %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block headerBOX %}
<div class="container">
  <div class="row">
    
    <!-- <div class=" col-xs-4 text-center">
      <h3>Check me out!</h3>
      <img src="{% static 'images/bitmoji/1.png' %}" id="intro_bitmoji" style="height:auto;width:140px" alt="My image"/>
    </div> -->
   
     
  </div>
</div>
{% endblock %}

{% block thik_Houses %}
<div id="thin_Houses">

<h1>Real Estate Videography</h1>

<div class="row">
  <div class="col-xs-4">
    <h5>Demo</h5>
  </div>
  <div class="col-xs-4">
    <h5>Process</h5>
  </div>
  <div class="col-xs-4">
    <h5>Contact</h5>
  </div>
</div>

<hr style="border-color:#84b2df">

<p>Real Estate Videography with JawDrop360 is aimed to supply realtors with more resources for potential buyers.  Scheduling house viewing appointments can be a hassle, but the luxery of Virtual Reality allows for future home owners to view the house without even getting in the car.  We're aware Virtual Reality packages within real estate can get expensive, but JawDrop360 ensures the cheapest options while maintaining the highest quality.</p>

<br>

<iframe width="100%" height="415" src="https://www.youtube.com/embed/RVmjl6G4L1w" frameborder="0" allowfullscreen></iframe>

<h3>Our Process</h3>
<p>Once a scheduled date and rate have been determined, all gear will be charged and ready for up to 4 hours of footage.  The VR camera is made up of 8 lenses that all shoot 3D with 4K resolution. In addition, a MOZA Guru Gimbal is used for 100% camera stabilization. This prevents viewers from feeling nausia while enjoying their immersive house touring experience.</p>
<p>Upon arrival, we will prep the house for shooting. This includes making sure the lights are all on, opening all doors, and making the house as spacious as possible. While filming, the realtor can choose to be in the shot giving a guided tour through the house, or sit out so that the video resembles the demo above.  Once the videography of the home is complete, the footage will be stitched, edited, rendered, and placed on YouTube. The video on YouTube will NOT be public, it will be associated with a sharable link so that only those with the link can view the video. The link will be sent to the realtor so that it can be easily embeded into their website.</p>


</div>

{% endblock %}



{% block thik_Weddings %}

<div id="thin_Weddings">

<h1>Wedding Videography</h1>
<br>

Pellentesque sit amet erat sed orci ultricies rutrum sed eget est. Aenean quis elit arcu, ac rhoncus magna. Suspendisse eu magna vitae ligula porta condimentum sit amet et lacus. Donec at varius erat. Curabitur semper dapibus lorem ac faucibus. Praesent ornare vehicula nisi in fermentum. Curabitur viverra lectus in odio dictum sed imperdiet magna vulputate. In hac habitasse platea dictumst. Suspendisse potenti. Proin facilisis, nunc et laoreet ornare, justo quam ultrices nibh, ut suscipit lectus nibh non dolor. Nam elementum, neque scelerisque luctus hendrerit, nisi nisl sagittis est, id facilisis quam lacus at dui. Morbi sagittis suscipit iaculis. Duis a magna ut mauris vehicula tempus. Nulla at quam arcu.
eu dignissim vitae, congue sed nisl.

Pellentesque ut nunc eget metus malesuada vulputate ac aliquam nibh. Pellentesque felis erat, tristique nec semper vel, dignissim ut nisl. Donec ac dui purus. Nunc in ligula lacus. In vehicula scelerisque convallis. Ut in ornare ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam et libero a nibh venenatis tristique vitae vitae ligula. Phasellus vitae tempor ante.

Proin egestas commodo enim. Curabitur eu justo non felis tempus fermentum ut vitae augue. Ut cursus ultrices metus eu vehicula. Praesent sem nulla, eleifend eget adipiscing a, tempor sit amet lectus. Suspendisse congue fringilla urna vitae dapibus. Phasellus iaculis, velit at ornare feugiat, nunc dolor scelerisque dolor, sed placerat enim magna sit amet magna. Quisque gravida arcu eu neque porttitor rutrum. Donec tempus urna interdum libero faucibus ac lacinia sapien bibendum. Quisque sed odio et metus molestie tincidunt. Sed congue mauris non ante pharetra eu facilisis velit rhoncus. Aenean dictum purus sit amet tortor ultricies auctor. Aliquam nunc quam, porttitor porta fringilla et, bibendum sit amet urna. Vestibulum id tellus sed ipsum dignissim pharetra. Quisque non ipsum nec mauris ullamcorper interdum non et velit.

Fusce lorem leo, molestie nec ultricies a, vulputate a ante. Aenean vel mauris libero, sit amet tempor sapien. Suspendisse vel purus sit amet nunc placerat suscipit tincidunt et arcu. Donec sit amet magna diam. Nam a lacus libero. Proin vitae lectus at lorem rhoncus aliquet ut ut ligula. Nam ante dui, placerat quis fermentum quis, eleifend ac justo. Morbi gravida urna eu risus scelerisque id tempus leo adipiscing. Morbi vel libero eu felis congue venenatis sed eget tellus. Ut metus libero, auctor sed congue eu, fringilla vel purus. Donec urna lorem, congue ac dapibus in, sollicitudin id nunc. Sed ullamcorper, nibh imperdiet ullamcorper ultrices, tortor leo elementum elit, sit amet auctor lectus justo et sem.

Pellentesque sit amet erat sed orci ultricies rutrum sed eget est. Aenean quis elit arcu, ac rhoncus magna. Suspendisse eu magna vitae ligula porta condimentum sit amet et lacus. Donec at varius erat. Curabitur semper dapibus lorem ac faucibus. Praesent ornare vehicula nisi in fermentum. Curabitur viverra lectus in odio dictum sed imperdiet magna vulputate. In hac habitasse platea dictumst. Suspendisse potenti. Proin facilisis, nunc et laoreet ornare, justo quam ultrices nibh, ut suscipit lectus nibh non dolor. Nam elementum, neque scelerisque luctus hendrerit, nisi nisl sagittis est, id facilisis quam lacus at dui. Morbi sagittis suscipit iaculis. Duis a magna ut mauris vehicula tempus. Nulla at quam arcu.

Nulla leo quam, ultricies imperdiet faucibus et, vehicula vel justo. Nulla laoreet tellus vitae turpis laoreet condimentum. Duis posuere, justo vel vestibulum dictum, nisl ante vehicula elit, eget vulputate eros quam id lectus. Phasellus aliquam aliquet mauris non posuere. Morbi consectetur fermentum pellentesque. Cras sit amet quam urna. Praesent cursus dignissim neque quis gravida. Morbi vehicula venenatis vehicula. Aenean dictum hendrerit metus, sit amet ullamcorper libero cursus a. Mauris porta tellus ultricies mi volutpat tincidunt. Nullam convallis, lorem eu aliquet laoreet, ipsum metus luctus neque, a pellentesque diam mauris vel quam. Proin scelerisque pretium neque sed cursus.

Donec dignissim consequat erat, gravida laoreet nisl suscipit quis. Donec hendrerit tempus ligula eget convallis. Suspendisse at odio leo. Mauris vitae ante erat. Praesent adipiscing ipsum eget sapien gravida feugiat. Mauris vehicula elementum mi in molestie. Maecenas facilisis adipiscing orci ac gravida. Mauris hendrerit aliquam risus vitae scelerisque. Fusce non nunc non dolor lobortis tristique vel nec enim.

Fusce ultricies, lorem eu interdum accumsan, mauris eros lacinia ligula, nec facilisis turpis nisl et ligula. Phasellus tincidunt congue interdum. Suspendisse potenti. Nam malesuada molestie libero et fermentum. Cras imperdiet lacus a lectus suscipit quis tincidunt libero dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac nulla nisi. Sed velit urna, pellentesque et lobortis ut, pharetra ac lacus. Nam a tellus tortor, non ultrices sapien. Curabitur feugiat dapibus ligula, nec sollicitudin elit ultricies ac. Quisque luctus tincidunt neque vel varius. Integer tincidunt, neque ut pretium sollicitudin, nulla nisl sollicitudin massa, eu aliquam justo eros at lacus.

Curabitur laoreet volutpat interdum. Aliquam erat volutpat. Vestibulum et est ut dolor condimentum fringilla. Vivamus blandit, neque a dictum rutrum, odio est ornare risus, ut mattis augue dolor et urna. Sed magna orci, porttitor euismod hendrerit vitae, tristique congue sapien. Pellentesque cursus commodo ante non convallis. Duis quis leo at augue congue vulputate. Praesent porta dapibus dapibus. Integer commodo, lacus nec dignissim consectetur, massa arcu mollis velit, et lobortis sapien nibh ut dolor. Duis condimentum venenatis sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam id semper nibh. In eu sagittis tellus. Nunc risus libero, adipiscing vitae sollicitudin lobortis, molesti

  <!-- <div id='mapBuffer' >
    {% leaflet_map "sidemap" callback="window.map_init_basic" %}
  </div> -->
  </div>
{% endblock %}